/* ############################################
   ################# Fonts ####################
   ############################################ */

@font-face {
  font-family: 'Caviar-dreams';
  src: url("../fonts/Caviar-dreams/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Caviar-dreams-bold';
  src: url("../fonts/Caviar-dreams/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url("../fonts/avenirNext/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* ############################################
   ################## All #####################
   ############################################ */

   body{
     font-family: "PT Sans";
   }

   p {
     line-height: 2rem;
   }

   button{
     font-family: "PT Sans";
     background-color: #EEBF06;
   }

   button:hover{
     background-color: #fecb02;
   }

   .button-imis{
     font-family: "PT Sans";
     background-color: #fecb02;
   }

   .button-imis:hover{
     background-color: #EEBF06;
   }

   video{
     width: 100%;
     margin: 35px 0;
   }

   .titleFt{
     font-family: "AvenirNextLTPro-Regular";
   }

   .titleFt1{
     font-family: "PT Sans";
   }

   .titleFt2{
     font-family: "Lato";
   }

   .mobileview{
     display: none;
   }

   .largeview{
     display: inherit;
   }

   .noMargfix{
     margin: 0;
   }

   ::selection {
     text-shadow: none;
     background: #fecb02;
   }

   .first-block {
     padding: 10px 0;
     padding-top: 145px;
   }

   .light{
     font-family: "PT Sans";
     text-align: left;
   }

   .slider {
     width: 100%;
     margin: 100px auto;
     height: inherit;
   }

   .slick-slide {
     margin: 0px 20px;
   }

   .slick-slide:focus {
     outline: none;
   }

   .slick-prev:before,
   .slick-next:before {
     color: black;
   }

   strong{
     font-weight: bold !important;
   }

   .light ul {
     list-style: disc;
   }

   .light ul li {
     list-style: disc;
   }


/* ############################################
   ################# Header ###################
   ############################################ */

   nav{
     position: absolute;
     top:40px;
     box-shadow: none;

   }
   nav ul a {
     color: #444;
   }
   nav .brand-logo {
     color: white;
     position: relative;
     left: 125px;
   }
   nav ul a:hover {
     background-color: #fecb02;
     color: white;
   }
   nav ul li.active {
     background-color: #fecb02;
   }
   .nav-side-block{
     right: 0 !important;
   }
   .side-nav li.active {
     background-color: #fecb02 !important;

   }
   .side-nav li > a:hover, .side-nav li > a:focus, .side-nav li > a:active {
     background-color: #fecb02 !important;
     color: white !important;
   }
   .side-nav li.active > a {
     color: white !important;
   }
   nav ul li.active a {
     color: white;
   }
   .nav-container{
     height: 100%;
   }
   .nav-left{
     background-color: black;
     height: 100%;
   }
   .nav-right{
     padding-left:0!important;
   }
   .nav-left-img{
     position: absolute;
     top: -9px;
     left:20px;
   }
   .nav-first-link{
     padding-left:0!important;
   }
   .nav-burger{
     float: right !important;
     color: #000000;
   }

   .button-collapse {
     color: #000000;
     display: none;
   }
   .bar-title{
     width: 286px;
     margin-left: auto;
     margin-right: auto;
     height: 40px;
     line-height: 37px;
     color: #fff;
     margin-bottom: 40px;
   }

   #id1{
     position: fixed;
     height: 145px;
     width: 100%;
     background-color: white;
     z-index: 999;
   }



/* ############################################
   ################## Home ####################
   ############################################ */

    .home-list{
      padding-left: 30px;
      line-height: 30px;
    }

    .home-list ul li{
      list-style: disc;
    }


    ul.slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    ul.slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    ul.slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }

    ul.slick-dots li button::before {
      font-family: slick;
      font-size: 22px;
      line-height: 20px;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 20px;
      height: 20px;
      content: "•";
      text-align: center;
      opacity: 0.25;
      color: black;
      -webkit-font-smoothing: antialiased;
    }

    ul.slick-dots li.slick-active button:before {
        opacity: .75;
        color: black;
    }



/* ############################################
   ############# Edition & Revue ##############
   ############################################ */

   #id2 .content-pad{
     padding: 24px 70px;
   }

   section.images.slider{
     margin: 15px 0;
   }

   .container-article{
      width: 790px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
   }

   .img-article{
     width: 100%;
     max-height: 575px;
     max-width: 360px;
     margin-right: auto;
     margin-left: auto;
     margin-bottom: 20px;
   }

    .image-carousel{
      width: 100%;
    }

    .icon-carousel{
      color:#fecb02;
      position: relative;
      top: 5px
    }

    .action-carousel{
      color:#000 !important;
    }

    .inverse-carousel{
      background-color: #f8f8f8;
    }

    .caract-edition{
      font-size: 12px;
    }

    .edition-separator{
      margin-top: 50px;
    }

    .edition-subtitle{
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .edition-icon-container{
      margin: 20px 0;
    }

    .txt-revue{
      margin-top: 20px;
    }

/* ############################################
   ################## Event ###################
   ############################################ */

   .irow{
     margin-bottom: 60px
   }

   .iconteneur
   {
     position: relative;
     padding-bottom: 56.25%; /* 16:9 */
     padding-top: 25px;
     height: 0;
   }

   .iconteneur iframe
   {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     margin: 33px 0;
   }

   .txt-top-event{
     margin-bottom: -15px;
   }

  .txt-col-event{
    padding-top: 10px;
  }


/* ############################################
   ################# Contact ##################
   ############################################ */

   #id5 .section .row{
     padding: 10px 0;
   }


/* ############################################
   ################## Footer ##################
   ############################################ */

   footer.page-footer {
     margin: 0;
   }

   #id6{
     background-color: #000 !important;
     font-family: "PT Sans";
   }

   .page-footer .container .row {
     margin-bottom: 0;
   }

   h5.white-text{
     font-size: 20px;
     font-weight: 700;
   }
   a.white-text{
     font-size: 15px;
   }

   .img-footer{
     width: 24px;
     float: right;
     cursor: pointer;
   }


/* ############################################
   ############## Media queries ###############
   ############################################ */

   @media only screen and (max-width : 768px) {

     #id2 .content-pad, #id3 .content-pad{
       padding: 24px;
     }

     .mobileview{
       display: inherit;
     }

     .largeview{
       display: none;
     }

   }

   @media (min-width : 768px) and (max-width : 951px) {

      .nav-left{
        width: 83.3333333333% !important;
      }

      .nav-right{
        width: 16.6666666667% !important;
      }

    }

   @media only screen and (max-width : 951px) {

      .button-collapse{
        display: inherit;
      }
      .left{
        display: none;
      }

    }

   @media only screen and (max-width : 992px) {

      #id2 .toto, #id3 .toto{
        margin-top: 10px
      }
      nav .brand-logo {
        left: 205px;
      }

    }

   @media only screen and (min-width : 992px) {

      .irow{
        margin-bottom: 80px
      }

    }

   @media only screen and (max-width : 1200px) {

      .container-article{
        width: 100%;
      }

    }



input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #fecb02;
  -webkit-box-shadow: 0 1px 0 0 #fecb02;
  box-shadow: 0 1px 0 0 #fecb02;
}
